# Node modules
node_modules/

# Expo
.expo/
.expo-shared/

# Builds
dist/
build/
web-build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env/Secrets
.env
.env.local

# Expo-generated TS file
expo-env.d.ts
